<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.mapper.AdminMapper">
    <select id="getAdmin" resultType="com.kgc.pojo.Admin">
        select * from admin
        <where>
            <if test="adminName!='' and adminName!=null">
                and adminName=#{adminName}
            </if>
            <if test="adminPassword!='' and adminPassword!=null">
                and adminPwd=#{adminPwd}
            </if>
        </where>
    </select>
    <update id="updateAdmin" parameterType="com.kgc.pojo.Admin">
    update admin
        <set>
            <if test="adminName !=null and adminName!=''">
                adminName=#{adminName},
            </if>
            <if test="adminNickname!=null and adminNickname!=''">
                adminNickname=#{adminNickname}
            </if>
            <if test="adminPassword!=null and adminPassword!=''">
                adminPassword=#{adminPassword}
            </if>
            <if test="adminProfilePictureSrc!=null and adminProfilePictureSrc!=''">
                adminProfilePictureSrc=#{adminProfilePictureSrc}
            </if>
        </set>
        where adminId=#{adminId}
    </update>
</mapper>