<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kgc.mapper.ProductMapper">
<select id="getPromotion" resultType="com.kgc.pojo.Product">
  SELECT * FROM product
  WHERE productIsEnabled=2 LIMIT 6
</select>
  <select id="getAllProduct" resultType="com.kgc.pojo.Product">
  select * from product
  <where>
    <if test="productName!=null and productName!=''">
      productName=#{productName}
    </if>
    <if test="productCategoryId!=null and productCategoryId!='' and productCategoryId!=-1">
      productCategoryId=#{productCategoryId}
    </if>
  </where>
</select>
  <select id="getProduct" resultMap="getProductAndImg">
    SELECT * FROM product AS pt INNER JOIN productimage AS pm ON pm.productimageProductId=pt.productId
    <where>
      <if test="productName!=null and productName!=''">
        productName like concat('%',#{productName},'%')
      </if>
    </where>

  </select>
  <resultMap id="getProductAndImg" type="com.kgc.pojo.Product">
    <id column="productId" property="productId"></id>
    <collection property="singleProductImageList" ofType="com.kgc.pojo.Productimage">
      <id property="productimageId" column="productimageId"></id>
    </collection>
  </resultMap>
  <select id="getPageByCate" resultType="com.kgc.pojo.Product">
    SELECT * FROM product WHERE productCategoryId=#{productCategoryId} AND productIsEnabled IN(0,2)
ORDER BY productId DESC LIMIT 8
</select>


  <select id="getProductById" resultType="com.kgc.pojo.Product">
    select * from product where productId=#{productId}
  </select>
</mapper>
